@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap');

#icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#icongroup {
  display: flex;
  justify-content: center;
}

#icongroup div {
  margin-right: 1em;
}

.coluna {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.coluna-1 {
  background: radial-gradient(circle, #FD5308, #FFCB87);
  width: 50vh;
  height: 50vh;
}

.coluna-2 {
  background: radial-gradient(circle, #FE2712, #F1896E);
  width: 50vh;
  height: 50vh;
}

.coluna-3 {
  background: linear-gradient(to bottom right, #A7194B, #F2896D);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  width: 50vh;
  height: 50vh;
}

.grad {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.gradiente-1 {

  width: 50vh;
  height: 50vh;
}

.gradiente-2 {
  
  width: 50vh;
  height: 50vh;
}

.gradiente-3 {

  width: 50vh;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

#aluno-1{
  background: linear-gradient(74.02deg, #FD5308 0%, #FFCB87 100%);
  padding:45px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

#aluno-1 img{
  width: 15%;
  margin-bottom: 5px;
  border-radius: 100%;
}

#aluno-1 h3{
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#aluno-2{
  background: linear-gradient(74.02deg, #FE2712 0%, #F1896E 100%);
  padding:45px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

#aluno-2 img{
  width: 15%;
  margin-bottom: 5px;
  border-radius: 100%;
}

#aluno-2 h3{
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#aluno-3{
  background: linear-gradient(74.02deg, #A7194B 0%, #F2896D 100%);
  padding:45px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

#aluno-3 img{
  width: 15%;
  margin-bottom: 5px;
  border-radius: 100%;
}

#aluno-3 h3{
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#crencas{
  background: radial-gradient(circle, #5644DD, #9352BA);
}