@media only screen and (max-width: 768px) {
  .btn-wrap img {
    margin: 25px 0 0 -50px;
  }

  .btn-wrap button {
    left: 45%;
  }

  .fale-ing {
    font-size: 2rem;
  }

  .tit-bot-matricule-se {
    font-size: 1rem;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap');

#icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#icons img {
  margin-bottom: 10px;
  width: 55%;
}

#icongroup {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px 30px;

}

#icongroup img {
  width: 65%;
}


#icongroup div {
  margin: 0 0.5em 0 0.5em;
}

#part-footer {
  background-color: #F4EFE9;
}

#icons a {
  text-align: center;
}

.coluna {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.coluna-1 {
  background: radial-gradient(circle, #FD5308, #FFCB87);
  width: 50vh;
  height: 50vh;
}

.coluna-2 {
  background: radial-gradient(circle, #FE2712, #F1896E);
  width: 50vh;
  height: 50vh;
}

.coluna-3 {
  background: linear-gradient(to bottom right, #A7194B, #F2896D);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  width: 50vh;
  height: 50vh;
}

.grad {
  height: 200px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.gradiente-1 {

  width: 50vh;
  height: 40vh;
}

.gradiente-2 {

  width: 50vh;
  height: 40vh;
}

.gradiente-3 {

  width: 50vh;
  height: 40vh;
}

#aluno-1 {
  background: linear-gradient(74.02deg, #FD5308 0%, #FFCB87 100%);
  padding: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

#aluno-1 img {
  width: 15%;
  margin-bottom: 5px;
  border-radius: 100%;
}

#aluno-1 h3 {
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#aluno-2 {
  background: linear-gradient(74.02deg, #FE2712 0%, #F1896E 100%);
  padding: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

#aluno-2 img {
  width: 15%;
  margin-bottom: 5px;
  border-radius: 100%;
}

#aluno-2 h3 {
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#aluno-3 {
  background: linear-gradient(74.02deg, #A7194B 0%, #F2896D 100%);
  padding: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

#aluno-3 img {
  width: 15%;
  margin-bottom: 5px;
  border-radius: 100%;
}

#aluno-3 h3 {
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#crencas {
  background: linear-gradient(#5644DD, #9352BA);
}

.iw-inov h2 {
  font-weight: 700;
  font-family: 'Inter';
  padding-bottom: 5px;
}

#garantir-vaga {
  padding: 20px;
  background-image: url(../images/images/back1.png);
}

#button-fox button {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 700;
}

#grad1 {
  width: 8%;
}




#first-value p {
  font-family: 'Inter';
  font-size: 20px;
}

#second-value p {
  font-family: 'Inter';
  font-size: 20px;
}

#third-value p {
  font-family: 'Inter';
  font-size: 20px;
}



#form h2 {
  padding-top: 10px;
  font-weight: 700;
}

#form p {
  color: #535484;
}

.vantagens h2 {
  font-weight: 700;
  color: #fff;
  padding: 30px 0 0 0;

}

#first-value img {
  padding: 25px 0 15px 0;
}

#first-value h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 35px;
}

#first-value p {
  font-weight: 500;

}

#third-value img {
  padding: 25px 0 15px 0;
}

#third-value h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 35px;
}

#third-value p {
  font-weight: 500;

}

#second-value img {
  padding: 25px 0 15px 0;
}

#second-value h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 35px;
}

#second-value p {
  font-weight: 500;

}



#logo img {
  width: 150%;
}

.linha {
  border-bottom: solid 3px #CDCDCD;
  border-radius: 2px;
}

.purple-square {
  background: linear-gradient(to bottom right, #8601B0, #3E01A4);
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 3.37rem;
}

#main-content {
  padding: 20px 0 0 0;
}

#main-content>h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 29px;
  text-transform: capitalize;
  color: #535484;
  margin: 0 0 20px 0;
}

#main-content>div>h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
  color: #00A9B5;
}

.estud_img {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.estud_img img {
  width: 50%;
}

#conteudo {
  background: url(../images/images/back2.png);
}

.tit_faleconosco {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  color: #535484;
  padding: 0 0 20px 0;
}